@import "@/scss/variables.scss";

.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  z-index: $z-index--header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $header-padding;
  font-size: $font-size--large;
  background-color: $color--black;
  border-bottom: 1px solid $color--border;

  &__title,
  &__items { 
    a {
      cursor: pointer;
  
      &:hover {
        color: $color--highlight;
      }
  
      b {
        color: $color--accent;
      }
    }
  }

  &__items {
    > * {
      &:not(:last-child) {
        margin-left: $margin--standard;
      }
      
    }
  }
}