@import "@/scss/variables.scss";

.splash {
  min-height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  &__header,
  &__footer {
    padding: calc($padding--standard * 2);
  }

  &__header {
    > * {
      &:not(:first-child) {
        margin-top: calc($margin--standard * 2);
      }
    }
  }

  &__footer {
    color: $color--accent;
    font-size: $font-size--large;
  }
}

.splash-row {
  display: flex;
  font-size: 80px;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: calc($margin--standard * 2);
  }
}

.splash-item--one,
.splash-item--two,
.splash-item--three {
  height: 150px;
  padding: $padding--standard;
}

.splash-item--one {
  width: fit-content;
  border: 10px solid $color--accent;
  border-radius: 100px;
  color: $color--accent;
}

.splash-item--two {
  width: fit-content;
  border: 10px solid $color--accent;
  border-radius: 100px;
  color: $color--highlight;
  background-color: $color--accent;
  padding: 50px;
}

.splash-item--three {
  width: fit-content;
  border: 10px solid $color--accent;
  border-radius: 100px;
  color: $color--highlight;
  background-color: $color--accent;
  padding: 50px;
}
