@import "@/scss/variables.scss";

.splash {
  min-height: calc(100vh - calc($header-height + $header-padding * 2));
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header,
  &__footer {
    padding: calc($padding--standard);
  }

  &__header {
    color: $color--accent;
    font-size: $font-size--large;
  }
}

.track-container {
  display: flex;
  overflow-x: scroll;
}

.track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: calc($margin--standard * 2);
  border: 4px solid $color--accent;
  
  iframe {
    max-height: 250px;
    max-width: 250px;
  }
}

