@import "@/scss/variables.scss";

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  filter: 
    hue-rotate(-50deg) 
    brightness(.4)
}

.content {
  position: absolute;
  top: $header-height;
  width: 100%;
  z-index: $z-index--content;
  font-size: $font-size--regular;

  &__splash {
    min-height: calc(100vh - $header-height);
  }

  &__panel {
    background-color: $color--bg-primary;
    border-top: 1px solid $color--border;
    border-bottom: 1px solid $color--border;
  }
}
