@import "@/scss/variables.scss";

.video-background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: absolute;
  top: $header-height;
  width: 100%;
  z-index: $z-index--content;
  font-size: $font-size--regular;

  &__splash {
    min-height: calc(100vh - $header-height);
  }

  &__panel {
    background-color: $color--black;
  }
}
